#canvases{
	height: 670px;
	width: 1080px;
}
#space{
	background-color: black;
	cursor: url(images/dot.gif), default;
}
#touch-left{
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 1080px;
}

body{
	font-family: monospace;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#container{
	position: relative;
}

#info{
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
}

.label{
	margin-right: 5px;
}

#info span{
	margin-right: 15px;
}

#instruction{
	position:absolute;
	bottom: 5px;
	color: yellow;
}

#details{
	position:absolute;
	left: 10px;
	bottom: 5px;
	color: white;
}

#details span{
	margin-right: 15px;
}
span.warning{
	color: red;
}

#message{
	text-align: center;
	display:none;
	font-size: 28px;
	color: white;
	position: absolute;
	z-index: 10;
}

#highscoresTable{
	font-size: 14px;
	color: white;
	width: 100%;
	margin: auto 0px;
}

div.newHighScore{
	color: red;
	font-size: 1.2em;
}
tr.playerScore{
	color: green;
}
td.score{
	text-align: right;
}
td.date{
	text-align: right;
}
